__pycache__/
*.pyc
*.pyo
build/
dist/
*.spec
*.msi
release/
.vscode/
.idea/
*.egg-info/
.env
config.json
legacy/
NetSwitch/release/
NetSwitch/build/
NetSwitch/dist/
NetSwitch/*.spec
NetSwitch/__pycache__/
